BOT_TOKEN=123456:ABC...
NOTIFY_CHAT_ID=-1001234567890
MEET_LINK=https://meet.google.com/xxx-xxxx-xxx
DEVELOPER_USERNAMES=akram_t_l,kairat_bekmuratovv,mnuraina,krustyintheclub,solai_goi,luckyrogue,alisherr134
GEMINI_API_KEY=
TZ=Asia/Almaty
