BOT_TOKEN=123456:ABC...
BOT_OWNER_USERNAME=luckyrogue
BOT_OWNER_USER_ID=123456789
NOTIFY_CHAT_ID=-1001234567890
GITHUB_TOKEN=
GITHUB_ORG=Jaryq-Lab
GITHUB_LOGINS=alisher134,Adi1M,kairatbekmuratovvv,Nananina2004,ingeniousalpha,leah-os
MEET_LINK=https://meet.google.com/xxx-xxxx-xxx
DEVELOPER_USERNAMES=akram_t_l,kairat_bekmuratovv,mnuraina,krustyintheclub,solai_goi,luckyrogue,alisherr134
TZ=Asia/Almaty
